#sunset {
    background-image: url(../img/sunset.jpg);
    background-size: cover;
}

#sunset-text {
    font-family: Oleo, Helvetica, sans-serif;
    font-size: 5rem;
    color: black;
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; */
    position: relative; 
    top: 45%;
    left: 37%;
}

.pros {
    padding: 3% 0% 3% 5%;
}

.pros-info {
    padding-left: 10%;
}

.pros-icon-wrapper {
    padding-top: 3%;
}

.pros-icon {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: white;
    font-size: 3rem;
    border: 2px solid white;
    border-radius: 50px;
}

.pros-title, .pros-content {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.pros-title {
    font-size: 2rem;
}

.pros-content {
    font-size: 1rem;
}

.motivational {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(231, 139, 19);
    padding-top: 2%;
    padding-bottom: 2%;
}

.search {
    height: max-content;
    background-image: linear-gradient(45deg, #009fd0, #0085ae);
    margin-bottom: 6rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding: 2rem;
}

.search p {
    color: white;
    margin-bottom: 0.5rem;
}

#search-button {
    margin-top: 4.5rem;
    width: 100%;
    height: 50%;
}

.modal-body {
    /* background-color: #f8f9fa; */
    background-color: #ececec;
}

#spinner {
    display: flex;
}

.tour-list-item {
    background-color: white;
    height: max-content;
}

.tour-list-img {
    min-width: 14rem;
    min-height: 14rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.tour-list-info {
    padding-top: 1rem;
}

.tour-list-hotel-name {
    font-size: 1.3rem;
    font-weight: bold;
    color:#00aae1;
    margin-bottom: 0;
}

.tour-list-hotel-location, .tour-list-departure, .tour-list-room, .tour-list-feeding {
    font-size: 1rem;
    color: rgb(110, 110, 110);
}

.tour-list-span {
    color: black;
    font-weight: bold;
}

.tour-list-details {
    padding-left: 0;
    padding-right: 0;
}

.tour-list-price-wrapper {
    text-align: center;
    padding-top: 45%;
    padding-bottom: 45%;
    background-color: #009fd0;
    height: max-content;
}

.tour-list-price {
    margin-bottom: 0;
    font-size: 2rem;
    color: white;
}

.tour-list-people {
    color: white;
    font-size: 0.7rem;
}

.tour-list-button {
    border-radius: 0;
    width: 100%;
}

.beach-wrapper {
    transform: skewY(-5deg);
}

.beach {
    height: 40vh;
    background-size: cover;
}

.footer {
    margin-top: 5rem;
    color: white;
    background-color: #0085ae;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.footer a {
    color: white;
    text-decoration: none;
}